:root{
    --blue:#afc0d4;
    --light-blue:rgb(175, 192, 212, 0.5);

    --beige:#efe8da;

    --white-gray: #e6e8eb;
    --light-gray: #e6e6e6;
    --gray: #dcdcdc;
    --dark-gray:#797a7a;

    --black:#000;
}

.lock body{overflow:hidden;-webkit-overflow-scrolling:touch;touch-action:none;}

/* section */
.section{padding:150px 20px 180px;}
.section-inner{max-width:1280px;width:100%;;margin:0 auto;}

.main-title{margin-bottom:80px;font-size:4.5rem;font-weight:500;text-align:center;}

.desc{line-height:1.4;word-break:keep-all;}

/* btn */
.btn-wrap{display:flex;justify-content:center;}

.btn-primary{display:block;width:200px;padding:15px 18px;background-color:var(--blue);text-align:center;}
.btn-primary.beige{background-color:var(--beige);}

.btn-underline{display:inline-block;position:relative;}
.btn-underline:after{content:'';position:absolute;left:0;bottom:-1px;width:0;height:1px;background-color:var(--black);transition:all .3s ease;}

/* input */
input{height:40px;}
input[name="email"],
input[name="phone"]{width:50%;}

label .required:after{content:'*';margin-left:5px;color:var(--dark-gray);font-weight:500;}

/* txt-underline */
.highlight{box-shadow:inset 0 -5px 0 var(--blue);font-weight:500;}


/* scrollbar */
body::-webkit-scrollbar{width:8px;}
body::-webkit-scrollbar-track{background-color:var(--white-gray);}
body::-webkit-scrollbar-thumb{border-radius:10px;background-color:var(--dark-gray);}

.modal::-webkit-scrollbar{width:6px;height:100%;padding:0 20px;}
.modal::-webkit-scrollbar-track{border-radius:15px;background-color:transparent;}
.modal::-webkit-scrollbar-thumb{border-radius:15px;background-color:var(--light-blue);}

/* modal */
.modal-wrap{display:flex;align-items:center;justify-content:center;position:fixed;left:0;top:0;right:0;z-index:1000;width:100%;height:100%;background-color:rgba(0,0,0,0.7);}

.modal-wrap .modal{overflow-y:auto;position:relative;z-index:5000;max-width:950px;width:100%;max-height:500px;height:100%;margin:auto;padding:80px 50px 50px;border:1px solid #c6cbd0;border-radius:10px;
background:var(--light-gray) url('../images/project/bg_shapes_02.png') right -160px bottom -7px no-repeat;background-size:450px auto;}

.modal-wrap .modal:after{content:'';position:absolute;left:-150px;top:-150px;z-index:-1;background-image:url('../images/project/bg_shapes_01.png');width:450px;height:450px;background-size:100% 100%;background-repeat:no-repeat;}

.modal-wrap .modal .modal-header{margin-bottom:45px;}
.modal .modal-header .title{font-size:2rem;font-weight:500;text-align:center;}

.modal-wrap .modal .modal-inner{display:flex;justify-content:center;}

.modal .modal-inner .modal-img-wrap{margin-right:35px;}
.modal .modal-inner .modal-img-wrap img{max-width:350px;width:100%;}
.modal.kukMin .modal-inner .modal-img-wrap img{width:150px;}

.modal .modal-inner .modal-desc-wrap{width:calc(100% - 385px);margin-top:10px;}
.modal-inner .modal-desc-wrap .desc{margin-bottom:40px;}
.modal-inner .modal-desc-wrap .test{margin-bottom:70px;}

.modal-wrap .modal .btn-modal-close{position:absolute;top:30px;right:30px;z-index:100;width:30px;height:30px;background:url('../images/common/btn_close.svg') center no-repeat;background-size:100% 100%;font-size:0;}

/* go-top */
.go-top-wrap{opacity:0;position:fixed;right:40px;bottom:-1000px;z-index:1000;}
.go-top-wrap.active{opacity:1;position:fixed;bottom:40px;transition:.6s;}
.go-top-wrap.bottom{position:absolute;top:-100px;}
.go-top-wrap .go-top{width:60px;height:60px;border-radius:50%;border:1px solid var(--gray);background:#a8a8a8 url('../images/common/go_top_arrow.svg') no-repeat center;font-size:0;transition:.3s;}

/* 토스트 메세지 */
.toast-message{display:flex;justify-content:center;align-items:center;position:fixed;top:0;left:0;right:0;z-index:1000;height:80px;padding:0 15px;background-color:var(--beige);color:var(--black);opacity:0;transition:0.3s;animation:2s ease-in 0s forwards toast;}
.toast-message.fail{background-color:var(--dark-gray);color:#fff;}

@keyframes toast {
    0% {
        top: -80px;
        opacity: 0;
    }
    30% {
        top: 0;
        opacity: 1;
    }

    70% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: -80px;
        opacity: 0;
    }
}

@keyframes scrollFix{
    0%{
        height:0;
    }
    35%{
        height:100%;
    }
    100%{
        height:0;
        bottom:0;
        top:auto;
    }
}


/*:*:*:*:*:*:*: MOBILE  *:*:*:*:*:*:*:*/
@media all and (min-width:0) and (max-width:1280px) {
    .main-title{margin-bottom:45px;font-size:3rem;}
    .desc{font-size:1.4rem;}
    .btn-underline{font-weight:300;}
}


/*:*:*:*:*:*:*: phone  *:*:*:*:*:*:*:*/
@media all and (min-width:0) and (max-width:767px) {

    /* section */
    .section{padding:80px 15px 80px;}

    /* btn */
    .btn-primary{width:150px;}
    .btn-underline{font-size:1.4rem;font-weight:300;}

    /* modal */
    .modal-wrap .modal{overflow-y:hidden;background-size:250px auto;background-position:right -10px bottom -7px;}
    .modal-wrap .modal:after{left:-49px;top:-70px;width:250px;height:250px;}

    .modal-wrap .modal .modal-header{margin-bottom:28px;}
    .modal .modal-header .title{font-size:1.8rem;line-height:1.5;}

    .modal-wrap .modal .modal-content{overflow-y:auto;}

    .modal-wrap .modal{display:flex;flex-direction:column;justify-content:center;max-height:100%;height:100%;border-radius:0;padding:65px 20px 20px;}
    .modal-wrap .modal .modal-inner{flex-direction:column;align-items:center;}

    .modal .modal-inner .modal-desc-wrap{width:100%;}
    .modal-inner .modal-desc-wrap .desc{margin-bottom:20px;}

    .modal .modal-inner .modal-img-wrap{margin-right:0;margin-bottom:30px;}
    .modal .modal-inner .modal-img-wrap img{width:300px;}
    .modal.kukMin .modal-inner .modal-img-wrap img{width:80px;}

    .modal-wrap .modal .btn-modal-close{top:20px;right:20px;width:25px;height:25px;}

    .modal-wrap .modal .btn-primary{margin:0 auto;width:100%;}

}


/*:*:*:*:*:*:*: tablet  *:*:*:*:*:*:*:*/
@media all and (min-width:768px) and (max-width:1280px) {
    /* section */
    .section{padding:80px 20px 100px;}

}


/*:*:*:*:*:*:*:* DESKTOP *:*:*:*:*:*:*:*/
@media all and (min-width:1280px) {

    /* hover */
    .go-top-wrap .go-top:hover{border-color:transparent;background-color:var(--blue);}

    .btn-primary:hover .btn-underline:after{width:100%;}
}