/* 폰트 설정 */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../font/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Montserrat-medium.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../font/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../font/Montserrat-ExtraBold.woff') format('woff');
}


/* 숫자 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../font/Montserrat-Regular.woff') format('woff');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../font/Montserrat-medium.woff') format('woff');
    unicode-range: U+0030-0039;
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../font/Montserrat-Bold.woff') format('woff');
    unicode-range: U+0030-0039;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../font/Montserrat-ExtraBold.woff') format('woff');
    unicode-range: U+0030-0039;
}

