/* about */
.about{position:relative;width:100%;height:2100px;}

.about .about-bg{position:sticky;left:0;top:0;z-index:-1;width:100%;height:100vh;background-image:url('../images/about/bg_about.png');background-repeat:no-repeat;background-size:cover;background-position:center center;}
.about .about-bg:after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(255, 255, 255, 0.5)}

.about .about-wrap{position:absolute;left:calc(50% - 640px);top:0;padding:0 20px;}
.about .about-wrap .about-content{position:relative;display:flex;justify-content:space-between;}

.about-wrap .about-content .about-title-wrap{position:sticky;top:0;height:100%;padding:150px 0 18% 0;}

.about-content .about-title-wrap .title{font-size:4rem;}
.about-content .about-title-wrap .img-profile-wrap .img-profile{width:350px;height:350px;border-radius:50%;object-fit:cover;}

.about-wrap .about-content .about-info-list{width:calc(100% - 600px);height:100%;padding-top:250px;}

.about-content .about-info-list .about-info{padding:50px 35px;border-radius:15px;
    background: rgb(239,232,218);
    background: linear-gradient(135deg, rgba(239,232,218,1) 40%, rgba(248,248,248,1) 63%, rgba(191,214,240,1) 95%);}
.about-content .about-info-list .about-info:not(:last-child){margin-bottom:45px;}

.about-info-list .about-info .info-title{position:relative;margin-bottom:30px;padding-left:30px;font-size:2rem;}

.about-info-list .about-info .info-title:before{content:'';display:inline-block;position:absolute;left:0;top:calc(50% - 11px);width:20px;height:22px;background-repeat:no-repeat;background-position:50% 50%;}
.about-info-list .about-info .info-title.info-profile:before{background-image:url('../images/about/icon_idCard.svg');}
.about-info-list .about-info .info-title.info-history:before{background-image:url('../images/about/icon_laptopCode.svg');}
.about-info-list .about-info .info-title.info-contact:before{background-image:url('../images/about/icon_user.svg');}
.about-info-list .about-info .info-title.info-about-me:before{background-image:url('../images/about/icon_smile.svg');}
.about-info-list .about-info .info-title.info-resume:before{background-image:url('../images/about/icon_file.svg');}

.about-info-list .about-info .info-box{}

.about-info .info-box .info{display:flex;margin-bottom:20px;}
.about-info .info-box .info:last-child{margin-bottom:0;}
.about-info .info-box .info dt{width:100px;}

.about-info .info-history + .info-box .info{display:block;}
.about-info .info-history + .info-box .info dt{width:100%;margin-bottom:8px;}

.about-info-list .about-info .about-desc-wrap{}
.about-info .about-desc-wrap .desc{position:relative;margin-bottom:5px;padding-left:25px;}
.about-info .about-desc-wrap .desc:last-of-type{margin-bottom:0;}
.about-info .about-desc-wrap .desc:after{content:'';position:absolute;left:0;top:2px;width:20px;height:20px;background:url('../images/common/icon_check.svg') no-repeat;}

.about-info-list .about-info .info-btn-wrap{}


/* project */
.project{width:100%;height:100%;}

.project-list-wrap .project-list{display:flex;flex-wrap:wrap;}

.project-list-wrap .project-list .project-box{position:relative;;width:calc(33.3% - 15px);margin:0 15px 15px 0;}
/*.project-list-wrap .project-list .project-box:hover{border:1.5px solid var(--blue);background-color:rgba(239, 232, 218, 0.5);}*/

.project-list-wrap .project-list .project-box:before,
.project-list-wrap .project-list .project-box:after{content:'';position:absolute;background-repeat:no-repeat;background-size:100% 100%;}

.project-list-wrap .project-list .project-box:before{left:30px;top:30px;width:30px;height:30px;background-image:url('../images/project/icon_folder.svg');}

.project-list-wrap .project-list .project-box:after{right:30px;bottom:30px}
.project-list-wrap .project-list .project-box.desk-top:after{width:40px;height:25px;background-image:url('../images/project/icon_desktop.svg');}
.project-list-wrap .project-list .project-box.mobile:after{width:25px;height:35px;background-image:url('../images/project/icon_mobile.svg');}

.project-list .project-box .box-inner{display:block;width:100%;height:100%;padding:100px 50px;border:2.5px solid transparent;border-radius:10px;background-color:var(--beige);}
.project-list .project-box .box-inner:hover{border-color:var(--blue);background-color:rgba(255, 255, 255, 0.7);transition:.3s;}

.project-list .project-box .box-inner .title{margin-bottom:25px;font-size:1.8rem;font-weight:600;line-height:1.4;}


/* contact */
.contact{background-color:var(--light-gray);}
.contact .section-inner{display:flex;justify-content:space-between;align-items:center;}

.contact .section-inner .contact-img-wrap{display:flex;justify-content:center;align-items:center;width:300px;height:300px;background-color:var(--beige);border-radius:50%;}
.section-inner .contact-img-wrap img{width:150px;height:auto;margin-top:-15px;}

.contact .section-inner .field-wrap{width:calc(100% - 400px);border-radius:10px;background-color:var(--blue);}

.section-inner .field-wrap .field-inner{padding:50px;}

.field-wrap .field-inner .field-box{display:flex;align-items:center;position:relative;padding-bottom:40px;}
.field-wrap .field-inner .field-box:last-of-type{margin-bottom:0;}

.field-wrap .field-inner .field-box.parsley-error input,
.field-wrap .field-inner .field-box.parsley-error textarea{border:1px solid #f7434f;}
.field-wrap .field-inner .field-box label{display:inline-block;width:150px;color:#fff;}
.field-wrap .field-inner .field-box textarea{width:calc(100% - 150px)}

.error-txt{display:none;font-size:1.4rem;color:#f7434f;}
.field-box.parsley-error .error-txt{display:block;position:absolute;left:160px;bottom:18px;}



/* 애니메이션 */
@keyframes cu-fadeUp{
    0% {
        bottom:-240px;
    }
    100% {
        bottom:0;
    }
}

@-webkit-keyframes cu-fadeUp{
    0% {
        bottom:-240px;
    }
    100% {
        bottom:0;
    }
}



@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


/*:*:*:*:*:*:*: MOBILE  *:*:*:*:*:*:*:*/
@media all and (min-width:0) and (max-width:1280px) {

    /* about */
    .about-content .about-title-wrap .img-profile-wrap .img-profile{width:270px;height:270px}
    .about-info .info-box .info dt,
    .about-info .info-box .info dd{font-size:1.4rem;}


    /* project */
    .project-list .project-box .box-inner{padding:70px 30px;}

    .project-list-wrap .project-list .project-box:before{left:20px;top:20px;width:20px;height:20px;}

    .project-list .project-box .box-inner .title{margin-bottom:15px;font-size:1.6rem;}

    .project-list-wrap .project-list .project-box:after{right:20px;bottom:20px;}
    .project-list-wrap .project-list .project-box.desk-top:after{width:30px;height:20px;}
    .project-list-wrap .project-list .project-box.mobile:after{width:20px;height:30px;}

    /* contact */
    .contact .section-inner{flex-direction:column;}
    .contact .section-inner .contact-img-wrap{padding-bottom:25px;}
    .contact .section-inner .field-wrap{width:100%;}

}

/*:*:*:*:*:*:*: phone  *:*:*:*:*:*:*:*/
@media all and (min-width:0) and (max-width:767px) {

    /* about */
    .about{height:100%;}

    .about .about-wrap{position:relative;left:auto;top:auto;padding:80px 15px 100px 15px;}

    .about .about-bg{position:absolute;height:100%;background-image:url('../images/about/mo_bg_about.png');}

    .about .about-wrap .about-content{flex-direction:column;}

    .about-content .about-title-wrap .img-profile-wrap{margin-bottom:65px;}

    .about-wrap .about-content .about-title-wrap{position:relative;left:auto;top:auto;margin:0 auto;padding:0;}

    .about-wrap .about-content .about-info-list{width:100%;padding-top:0;}
    .about-content .about-info-list .about-info{padding:30px 20px;}
    .about-content .about-info-list .about-info:not(:last-child){margin-bottom:25px;}


    /* project */
    .project-list-wrap .project-list{flex-direction:column;}
    .project-list-wrap .project-list .project-box{width:100%;}


    /* contact */
    .section-inner .field-wrap .field-inner{padding:30px 15px;}

    .contact .section-inner .contact-img-wrap{width:200px;height:200px;}
    .section-inner .contact-img-wrap img{width:115px;}

    .field-wrap .field-inner .field-box{flex-direction:column;align-items:flex-start;}
    .field-wrap .field-inner .field-box label{margin-bottom:15px;font-size:1.4rem;}
    .field-wrap .field-inner .field-box input,
    .field-wrap .field-inner .field-box textarea{width:100%;font-size:1.4rem;}

    .field-box.parsley-error .error-txt{left:10px;bottom:18px;}


}

/*:*:*:*:*:*:*: tablet  *:*:*:*:*:*:*:*/
@media all and (min-width:767px) and (max-width:1280px) {

    /* about */
    .about .about-wrap{left:0;}

    .about-wrap .about-content .about-info-list{width:calc(100% - 350px);}
}


/*:*:*:*:*:*:*:* DESKTOP *:*:*:*:*:*:*:*/
@media all and (min-width:1280px) {}