/* about */
.about{position:relative;height:2150px;}

.about .about-bg{overflow:hidden;position:sticky;left:0;top:0;z-index:-1;width:100%;height:100vh;background-image:url('../images/about/bg_about.png');background-repeat:no-repeat;background-size:cover;background-position:center center;}
.about .about-bg:after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(255, 255, 255, 0.5)}

.about .about-wrap{position:absolute;height:100%;left:50%;top:0;padding:0 20px;transform:translateX(-50%)}
.about .about-wrap .about-content{position:relative;display:flex;justify-content:space-between;}

.about-wrap .about-content .about-title-wrap{position:sticky !important;top:0;height:100%;padding:150px 0 18% 0;}

.about-content .about-title-wrap .title{font-size:4rem;}
.about-content .about-title-wrap .img-profile-wrap .img-profile{width:350px;height:350px;border-radius:50%;object-fit:cover;}

.about-wrap .about-content .about-info-list{width:calc(100% - 600px);height:100%;padding-top:250px;}

.about-content .about-info-list .about-info{padding:50px 35px;border-radius:15px;background-color:var(--beige)}
.about-content .about-info-list .about-info:not(:last-child){margin-bottom:45px;}

.about-info-list .about-info .info-title{position:relative;margin-bottom:30px;padding-left:30px;font-size:2rem;}

.about-info-list .about-info .info-title:before{content:'';display:inline-block;position:absolute;left:0;top:calc(50% - 11px);width:20px;height:22px;background-repeat:no-repeat;background-position:50% 50%;}
.about-info-list .about-info .info-title.info-profile:before{background-image:url('../images/about/icon_idCard.svg');}
.about-info-list .about-info .info-title.info-history:before{background-image:url('../images/about/icon_laptopCode.svg');}
.about-info-list .about-info .info-title.info-history-desc:before{background-image:url('../images/about/icon_comments.svg');}
.about-info-list .about-info .info-title.info-contact:before{background-image:url('../images/about/icon_user.svg');}
.about-info-list .about-info .info-title.info-about-me:before{background-image:url('../images/about/icon_smile.svg');}
.about-info-list .about-info .info-title.info-resume:before{background-image:url('../images/about/icon_file.svg');}

.about-info-list .about-info .info-box{}

.about-info .info-box .info{display:flex;margin-bottom:20px;}
.about-info .info-box .info:last-child{margin-bottom:0;}
.about-info .info-box .info dt{width:100px;}

.about-info .info-history + .info-box .info{display:block;}
.about-info .info-history + .info-box .info dt{width:100%;margin-bottom:8px;}

.about-info-list .about-info .about-desc-wrap{}
.about-info .about-desc-wrap .desc{position:relative;margin-bottom:5px;padding-left:25px;}
.about-info .about-desc-wrap .desc:last-of-type{margin-bottom:0;}
.about-info .about-desc-wrap .desc:after{content:'';position:absolute;left:0;top:2px;width:20px;height:20px;background:url('../images/common/icon_check.svg') no-repeat;}

.about-content .swiper-pagination{display:none;}


/* project */
.project{background-color:var(--light-blue);}

.project-list-wrap .project-list{display:flex;flex-wrap:wrap;}

.project-list-wrap .project-list .project-box{position:relative;width:calc(33.3% - 10px);margin:0 15px 15px 0;}
.project-list-wrap .project-list .project-box:nth-child(3n){margin-right:0;}

.project-list .project-box .box-inner{display:block;position:relative;z-index:10;width:100%;height:100%;padding:90px 50px;border:2.5px solid transparent;border-radius:10px;background-color:var(--beige);}

.project-list .project-box .box-inner:before,
.project-list .project-box .box-inner:after{content:'';position:absolute;z-index:1;background-repeat:no-repeat;background-size:100% 100%;}

.project-list .project-box .box-inner:before{left:30px;top:30px;width:30px;height:30px;background-image:url('../images/project/icon_folder.svg');}

.project-list .project-box .box-inner:after{right:30px;bottom:30px}

.project-list .project-box.desk-top .box-inner:after{width:40px;height:25px;background-image:url('../images/project/icon_desktop.svg');}
.project-list .project-box.mobile .box-inner:after{width:25px;height:35px;background-image:url('../images/project/icon_mobile.svg');}

.project-list .project-box .box-inner .title{margin-bottom:30px;font-size:1.8rem;font-weight:600;line-height:1.4;}

.project-box .box-inner .desc .highlight{display:inline-block;margin-bottom:6px;}



/* study */
.study{background-color:var(--light-blue);}
.study .section-inner{display:flex;justify-content:space-between;align-items:center;}
.study .section-inner .study-media-wrap{width:50%;min-width:40%;}
.section-inner .study-media-wrap .media-wrap{position:relative;width:100%;height:0;padding-top:56.25%;z-index:100;}

.study-media-wrap .media-wrap .img-box{background:url('../images/study/img_todo_list.png') no-repeat center / 100% 100%;z-index:10;}
.study-media-wrap .media-wrap .img-box:after{content:'';position:absolute;left:50%;top:50%;width:80px;height:80px;transform:translate(-50%, -50%);z-index:100;background:url('../images/study/icon_play.svg') no-repeat  center / 100%;}

.study-media-wrap .media-wrap .media-box video{z-index:1;}

.section-inner .study-media-wrap .img-box,
.study-media-wrap .media-wrap .media-box video{position:absolute;left:0;top:0;width:100%;height:100%;}

.section-inner .study-desc-wrap{display:flex;flex-direction:column;justify-content:space-between;position:relative;margin-left:30px;padding:60px 40px;border-radius:10px;background-color:var(--beige);}
.section-inner .study-desc-wrap:before{content:'';position:absolute;right:50px;top:45px;width:50px;height:50px;background:url('../images/study/bg_pencil.png') no-repeat center / 100% 100%;transform:rotate(-65deg)}
.section-inner .study-desc-wrap .info-list{margin-bottom:40px;}
.section-inner .study-desc-wrap .info-list li:after{top:8px;}


/* contact */
.contact{background-color:var(--light-gray);}
.contact .section-inner{display:flex;justify-content:space-between;align-items:center;}

.section-inner .contact-title-wrap .contact-title{text-align:center;height:20px;font-size:1.8rem;}

.section-inner .contact-title-wrap .contact-img-wrap{display:flex;justify-content:center;align-items:center;width:300px;height:300px;margin:20px auto 0;background-color:var(--beige);border-radius:50%;}
.contact-title-wrap .contact-img-wrap img{width:150px;height:auto;margin-top:-15px;}

.contact .section-inner .field-wrap{width:calc(100% - 400px);border-radius:10px;background-color:var(--blue);}

.section-inner .field-wrap .field-inner{padding:50px;}

.field-wrap .field-inner .field-box{display:flex;align-items:center;position:relative;padding-bottom:40px;}
.field-wrap .field-inner .field-box:last-of-type{margin-bottom:0;}

.field-wrap .field-inner .field-box[class*="parsley-"] input,
.field-wrap .field-inner .field-box[class*="parsley-"] textarea{border:1px solid #f7434f;}
.field-wrap .field-inner .field-box label{display:inline-block;width:150px;color:#fff;}
.field-wrap .field-inner .field-box textarea{width:calc(100% - 150px)}

.error-txt{display:none;font-size:1.4rem;color:#f7434f;}

.field-box[class*="parsley-"] .error-txt{position:absolute;left:160px;bottom:18px;}

.field-box.parsley-error .error-txt.value-error{display:block;}
.field-box.parsley-type .error-txt.type-error{display:block;}



/* 애니메이션 */
@keyframes cu-fadeUp{
    0% {
        bottom:-240px;
    }
    100% {
        bottom:0;
    }
}

@-webkit-keyframes cu-fadeUp{
    0% {
        bottom:-240px;
    }
    100% {
        bottom:0;
    }
}



@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


/*:*:*:*:*:*:*: MOBILE  *:*:*:*:*:*:*:*/
@media all and (min-width:0) and (max-width:1280px) {

    /* about */
    .about-content .about-title-wrap .img-profile-wrap .img-profile{width:270px;height:270px}
    .about-info .info-box .info dt,
    .about-info .info-box .info dd{font-size:1.4rem;}


    /* project */
    .project-list .project-box .box-inner{padding:65px 30px;}

    .project-list .project-box .box-inner .title{font-size:1.6rem;}

    .project-list .project-box .box-inner:before{left:20px;top:20px;width:20px;height:20px;}

    .project-list .project-box .box-inner:after{right:20px;bottom:20px;}
    .project-list .project-box.desk-top .box-inner:after{width:30px;height:20px;}
    .project-list .project-box.mobile .box-inner:after{width:20px;height:30px;}

    /* study */
    .study .section-inner{flex-direction:column;}

    .study .section-inner .study-media-wrap{width:70%;margin-bottom:50px;}

    .section-inner .study-desc-wrap{width:100%;margin-left:0;padding:30px;}
    .section-inner .study-desc-wrap .info-list{margin-bottom:30px;}

    .section-inner .study-desc-wrap:before{right:35px;top:30px;width:60px;height:55px;}

    /* contact */
    .contact .section-inner{flex-direction:column;}
    .contact .section-inner .contact-title-wrap{margin-bottom:25px;}
    .contact .section-inner .field-wrap{width:100%;}

}

/*:*:*:*:*:*:*: phone  *:*:*:*:*:*:*:*/
@media all and (min-width:0) and (max-width:767px) {

    /* about */
    .about{height:100%;}

    .about .about-wrap{position:relative;left:auto;top:auto;padding:80px 15px 30px 15px;transform:translateX(0);}

    .about .about-bg{position:absolute;height:100%;background-image:url('../images/about/mo_bg_about.png');}

    .about .about-wrap .about-content{flex-direction:column;}

    .about-content .about-title-wrap .img-profile-wrap{margin-bottom:20px;}

    .about-wrap .about-content .about-title-wrap{position:relative;left:auto;top:auto;margin:0 auto;padding:0;}

    .about-wrap .about-content .about-info-list{flex-direction:row;align-items:center;width:100%;padding-top:0;}
    .about-content .about-info-list .about-info{display:flex;flex-direction:column;justify-content:center;height:100%;min-height:250px;padding:30px 20px;}
    .about-content .about-info-list .about-info:not(:last-child){margin-bottom:25px;}

    .about-content .swiper-pagination{display:block;}
    .swiper-container-horizontal>.swiper-pagination-bullets{bottom:0 !important;}
    .swiper-pagination-bullet-active{background:var(--dark-gray) !important;}

    /* study */
    .study .section-inner .study-media-wrap{width:100%;margin-bottom:30px;}
    .study-media-wrap .media-wrap .img-box:after{width:40px;height:40px;}
    .section-inner .study-desc-wrap:before{right:25px;top:15px;width:45px;height:40px;}

    /* project */
    .project-list-wrap .project-list{flex-direction:column;}
    .project-list-wrap .project-list .project-box{width:100%;}


    /* contact */
    .section-inner .field-wrap .field-inner{padding:30px 15px;}

    .section-inner .contact-title-wrap{width:100%;}

    .section-inner .contact-title-wrap .contact-title{font-size:1.6rem;}
    .section-inner .contact-title-wrap .contact-img-wrap{width:200px;height:200px;}
    .section-inner .contact-title-wrap .contact-img-wrap img{width:115px;}

    .field-wrap .field-inner .field-box{flex-direction:column;align-items:flex-start;}
    .field-wrap .field-inner .field-box label{margin-bottom:15px;font-size:1.4rem;}
    .field-wrap .field-inner .field-box input,
    .field-wrap .field-inner .field-box textarea{width:100%;font-size:1.4rem;}

    .field-box[class*=parsley-] .error-txt{left:10px;bottom:18px;}


}

/*:*:*:*:*:*:*: tablet  *:*:*:*:*:*:*:*/
@media all and (min-width:767px) and (max-width:1280px) {

    /* desktop smooth scrolling  */
    html{
        scroll-behavior: smooth;
    }


    /* about */
    /*.about .about-wrap{left:0;}*/

    .about-wrap .about-content .about-info-list{width:calc(100% - 350px);}

}


/*:*:*:*:*:*:*:* DESKTOP *:*:*:*:*:*:*:*/
@media all and (min-width:1280px) {

    /* desktop smooth scrolling  */
    html{
        scroll-behavior: smooth;
    }

    /* hover */
    .project-list .project-box .box-inner:hover{
        border-color:var(--blue);
        background: rgb(175,192,212);
        background: linear-gradient(150deg, rgba(175,192,212,1) 2%, rgba(242,242,243,1) 40%, rgba(239,239,240,1) 65%, rgba(248,241,156,1) 100%);
        transition:background .3s
    }
    .project-list .project-box:hover .box-inner:before{background-image:url('../images/project/icon_folder_acitve.svg');}

    .study-media-wrap .media-wrap .img-box:hover{cursor:pointer;}

}